ul.drop {
    height: 1%;
    list-style: none;
}

.drop li {
    float: left;
    list-style: none;
    margin-right: 0.25em;
}

a.domenu:hover {
    text-decoration: none;
}

.dropmenu .control {
    display: none;
}

.dropmenu:hover a, .dropmenu.active a, .hovermenu a {
    padding: 0.2em;
}

.dropmenu:hover .control, .dropmenu.active .control, .hovermenu .control {
    cursor: pointer;
    display: inline;
    padding: 0.2em;
}

.submenu {
    display: none;
    list-style: none;
    position: absolute;
    width: 150px;
}

.submenu li {
    list-style: none;
}
