.coreform fieldset {
    margin-top: 10px;
}

.coreform input,
.coreform textarea,
.coreform select {
    box-sizing: border-box;
    max-width: 100%;
}

.coreform legend {
    font-weight: bold;
    padding: 0 2px;
    font-size: 1.2em;
}

.coreform label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}

.coreform fieldset ol {
    margin: 0;
    padding: 0;
}

.coreform fieldset li {
    clear: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.coreform fieldset fieldset {
    border: none;
    margin: 3px 0 0;
}

.coreform fieldset fieldset legend {
    font-weight: normal;
    padding: 0 0 5px;
}

.coreform fieldset fieldset label {
    display: block;
    width: auto;
}

.coreform label {
    display: block;
    float: left;
    font-weight: bold;
    width: 110px;
}

.coreform fieldset fieldset label {
    margin-left: 113px;
}

/* Width plus 3 (html space) */

.coreform fieldset li {
    padding: 5px 10px 0 10px;
}

.coreform .submit {
    margin-left: 119px;
}

.alert {
    cursor: pointer;
    text-decoration: underline;
}

.alertmsg {
    float: right;
    font-weight: bold;
}
