/* Start Container */
#content,
#header,
#footer {
    clear: both;
    margin: 0px auto;
    max-width: 1400px;
    min-width: 650px;
    width: 99%;
}

#content .pad,
#header .pad,
#footer .pad {
    padding: 10px;
}

.title {
    float: left;
}

.subtitle {
    float: left;
    clear: left;
}

/* End Container */


/* Start Login Box */
#auth {
    float: right;
    height: 50px;
    margin-bottom: -50px;
    text-align: right;
}

#auth ol {
    list-style: none;
}

#auth li {
    float: left;
}

#auth label {
    font-weight: bold;
    margin-left: 5px;
}

#auth input {
    border: 1px solid #000;;
    font-size: 1em;
    font-weight: bold;
    padding: .15em;
    width: 75px;
}

.loginbutton {
    border: 1px solid #000 !important;
    font-size: .9em !important;
    width: auto !important;
}

/* End Login Box */


/* Start Quick Search */
#quicksearch {
    float: right;
    height: 50px;
    position: relative;
    width: 30%;
}

.searchwrap {
    padding: .2em .5em;
    right: 0px;
}

.searchtext {
    border: 1px solid #000;
    position: relative;
    padding: .15em;
    font-weight: bold;
    font-size: 1em;
    padding: .2em;
    width: 15em;
}

.clearbutton {
    border: 1px solid #000;
    font-size: .9em !important;
}

/* End Quick Search */


/* Start Menus */
.nav {
    height: 50px;
    list-style: none;
    position: relative;
    width: 70%;
}

.setdown {
    bottom: 0px;
    position: absolute;
    z-index: 1;
}

.nav li {
    float: left;
    list-style: none;
    margin-left: 5px;
}

.nav li a {
    display: block;
    padding: .33em 1em; /* huge pain, do not touch */
}

.shiftup {
    margin-top: -1px;
}

.hr {
    clear: both;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
}

.hr hr {
    display: none;
}

/* End Menu */

.box {
    padding: 1em;
}

/* Start Footer */
#version {
    text-align: right;
}

/* End Footer */
