.list {
    clear: both;
    cursor: pointer;
    display: flex;
    list-style: none;
    overflow: hidden;
    width: 100%;
}

.read {
    margin-left: -3px;
}

.list li {
    padding: .23em 0em;
}

.list li span {
    display: none;
}

.list li span.dropmenu {
    display: inline;
}

.member {
    flex: 0 0 17%;
    margin-left: .3em;
}

.subject {
    flex: 1;
    padding-left: 40px;
}

.posts {
    flex: 0 0 4%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.lastpost {
    flex: 0 0 28%;
    margin-right: .15em;
    text-align: right;
}

.extra {
    float: left;
    margin-left: -40px;
    text-align: right;
    width: 40px;
}

.extra a {
    font-weight: bold;
}

.firstpost {
    display: none;
    padding: 2em;
}

.even, .odd {
    clear: both;
}

#noresults {
    padding: 2em;
}
