.nophoto {
    height: 240px;
    width: 320px;
}

.pref {
    float: left;
    font-weight: bold;
    width: 100px;
}

.prefdata {
    float: left;
}

.memberinfo {
    list-style: none;
}

.memberinfo li {
    clear: left;
    padding-top: .5em;
}
