.view {
    clear: both;
    list-style: none;
}

.view li {
    list-style: none;
    padding: .23em .35em;
}

.view .even a.memberlink {
    font-weight: bold;
}

.view .odd {
    padding-bottom: 1.25em;
}

.list li span {
    display: none;
}

.view li, .firstpost {
    margin-bottom: 1px;
}

.view pre {
    float: left;
    font-family: monospace;
    font-size: 1.2em;
    margin: 1em;
    padding: 1em;
}

.postinfo, .controls {
    float: left;
}

.count {
    float: right;
    text-align: right;
}

.collapse {
    margin-bottom: 1px;
    padding: 10px;
}
