# Ignore config/user customized setup files since example versions are checked in
config.php

lang/en.php
lang/en_footer.php
lang/en_header.php

class/Plugin.php

# Docker
.DS_Store
.env
docker/sphinx/sphinx.conf
docker-compose.override.yml

# IDE
.idea/
.vscode/

# Composer
/vendor/

# Ignore cache directories in root.
/*cache*/
