# Ignore config/user customized setup files since example versions are checked in
/config/**/*.php
.env
constants.override.php

lang/en.php
lang/en_footer.php
lang/en_header.php

class/Plugin.php

# Docker
.DS_Store
.env
docker/sphinx/sphinx.conf
docker-compose.override.yml

# IDE
.idea/
.vscode/

# Composer
/vendor/

# Ignore cache directories in root.
/*cache*/

# Ignore Sphinx data and configuration.
/lib/sphinx/sphinx.conf
/docker/data/sphinx/data/*
!/docker/data/sphinx/data/.gitkeep
